# Core modules (mandatory)
jupyterlite-core==0.6.3
jupyterlab~=4.4.3
notebook~=7.4.3

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.6.1

# Language support (optional)
jupyterlab-language-pack-ja-JP
